.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: flex;
  top:  1px;
  left: 0;
  border-radius: 500px;
  width: 50px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}
.nav__black {
  background-color: #1b1a1a;
}

.nav__avatar {
  position: fixed;
  cursor: pointer;
  right: 20px;
  width: 30px;
}
